/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');



.form{
  display: flex;
  justify-content: center;
  background-color: #fff;
  

}


input{
  width: 272px;
  height: 40px;
  margin-top: 28px;
  margin-left: 28px;
  padding-left: 16px;
  border-radius: 4px;
  border: 1px solid #808080;
  
  
}

button{
  margin-top: 28px;
  margin-left: 28px;
  width: 75px;
  height: 40px;
  border-radius: 8px;
  background-color: #4e75ff;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  
  
}


input:hover{
  border-color: #000;
  
}

input:focus{
  border-color: #4E75FF;
  outline: none;
}


button:hover{
  background-color: #6c8cff;
}


li{
  border: 1px solid #808080;
  width: 360px;
  height: 200px;
  overflow: hidden;
  
}
.gallery{
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  gap: 24px;
}

img{
  max-width: 100%;
  height: auto;
  display: block;
}




